* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: #e5e5e5;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1190px;
}
.header__inner {
    background: #f2f2f2;
    padding-top: 88px;
}
.header {
    padding-top: 88px;
}
.header__top {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header__top img {
    width: 120px;
    height: 120px;
}
.header__top h1 {
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: right;
    color: #0088a2;
}

.header__menu {
    display: flex;
    margin-top: 60px;
    background: #808080;
}

.header__menu a {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #ffffff;
}
.header__menu-home {
    background: #0088a2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
}
.header__menu-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
}
.work__inner {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    background: #ffffff;
}
.work__inner img {
    width: 234px;
    height: 146px;
}
.work__inner-items {
    position: relative;
}
.work__inner-items p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
}
.atachment__inner,
.question__inner,
.project__inner,
.download__inner {
    background: #ffffff;
    padding: 60px 0;
}
.atachment__inner h1,
.project__inner h1,
.download__inner h1 {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 131px;
    text-align: center;
    color: #0088a2;
}
.atachment__play {
    display: flex;
    justify-content: center;
    position: relative;
}
.atachment__images {
    width: 981px;
    height: 416px;
}
.atachment__play-icon {
    position: absolute;
    width: 64px;
    height: 64px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.question__items img {
    width: 275px;
    height: 434px;
}
.question__inner {
    display: flex;
    justify-content: center;
    position: relative;
    height: 640px;
}
/* .question__items {
    position: relative;
} */
.question__item1,
.question__item2,
.question__item3,
.question__item4,
.question__item5 {
    position: absolute;
}
.question__item1 {
    left: 100px;
    top: 102px;
}
.question__item2 {
    left: 267px;
    top: 154px;
}
.question__item3 {
    left: 434px;
    top: 102px;
}
.question__item4 {
    left: 598px;
    top: 154px;
}
.question__item5 {
    left: 768px;
    top: 102px;
}
.project,
.download
{
    margin-top: 2px;
}
.project__inner,
.download__inner {
    display: flex;
    flex-direction: column;
}
.project__inner p {
    width: 900px;
}
.download__inner p {
    width: 1000px;
}
.project__inner p,
.download__inner p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    color: #707070;
    align-self: center;
}
.dowload__inner-items {
    display: flex;
    justify-content: space-around;
}
.dowload__inner-items img {
    width: 250px;
    height: 210px;
}
.download__inner p {
    align-self: center;
}
.footer__inner {
    background: #0088a2;
    padding: 88px 0;
}
.footer__inner h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 56px;
    text-align: center;
    color: #fff;
}
.social {
    display: flex;
    justify-content: center;
}
.social img{
    margin: 0 50px;
    width: 50px;
}
.about {
    display: flex;
    justify-content: space-around;
}
.contact, .adress, .help  {
    display: flex;
    flex-direction: column;
    width: 191px;
}
.adress p {
    width: 300px;
}
.contact h2, .adress h2, .help h2 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #FDFDFD;
    line-height: 18px;
}
.contact a, .adress p, .help a {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    align-self: center;
}
